@font-face {
    font-family: DroidSans;
    src: url(../assets/fonts/DroidSans.ttf);
}

@font-face {
    font-family: RobotoSlabBold;
    src: url(../assets/fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: SairaExtraCondensedBold;
    src: url(../assets/fonts/SairaExtraCondensed-Bold.ttf);
}

@font-face {
    font-family: RobotoSlabRegular;
    src: url(../assets/fonts/RobotoSlab-Regular.ttf);
}


@font-face {
    font-family: Archivo-Regular;
    src: url(../assets/fonts/Archivo-Regular.ttf);
}




:root {
    --headercolor: #353a40;
    --headerfont: white;
    --background: #f6f6f6;
    --fontcolor: white;
    --nav-hover: rgb(49, 49, 49);
    --acessibility-bg: #353a40;
    --acessibility-btn-color:white;
    --acessibility-btn-bg:#353a40;
    --acessibility-bg-hover: #c0491a;
    --presentation-h: black;
    --presentation-h2: black;
    --presentation-h2-height: 700;
    --social-icon-bg: #353a40;
    --social-icon: white;
    --social-icon-hover: #c0491a;
    --about-h: black;
    --email-color: blue;
    --projects-h1: black;
    --projects-bg: #f6f6f6;
    --card-bg: #ffffff;
    --card-h1: black;
    --card-p: rgb(83, 83, 83);
    --skills-font-color: black;
    --certificates-h1: black;
    --certificates-a: #bd552d;
    --footer-bg: #353a40;
    --footer-a: rgba(255, 255, 255, 0.548);
    --footer-a-bg: #0c0d0e;
    --footer-a-hover-bg: #323233;
    --footer-a-hover: white;
}

[data-theme="dark"] {
    --headercolor: #202125;
    --headerfont: white;
    --background: #353a40;
    --fontcolor: white;
    --nav-hover: rgb(49, 49, 49);
    --acessibility-bg: #181717;
    --acessibility-btn-color:black;
    --acessibility-btn-bg:#f6f6f6;
    --acessibility-bg-hover: #c0491a;
    --presentation-h: white;
    --presentation-h2: rgb(255, 255, 255);
    --presentation-h2-height: 300;
    --social-icon-bg: #181717;
    --social-icon: white;
    --social-icon-hover: #c0491a;
    --about-h: white;
    --email-color: rgb(240, 96, 0);
    --projects-h1: white;
    --projects-bg: #f6f6f6;
    --card-bg: #bfc0c0;
    --card-h1: #252422;
    --card-p: rgb(34, 32, 32);
    --skills-font-color: white;
    --certificates-h1: white;
    --certificates-a: #e97f56;
    --footer-bg: #202125;
    --footer-a: rgba(255, 255, 255, 0.548);
    --footer-a-bg: #0c0d0e;
    --footer-a-hover-bg: #323233;
    --footer-a-hover: white;
}

[data-theme="colorblind"] {
    animation: colorblindanimation 30s infinite;
}

[data-theme="epilepsy"] {
    filter: saturate(30%);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


html {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #8d8e8f;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}


/* Header */

#nav-list {
    width: 100%;
    position: fixed;
    background-color: var(--headercolor);
    z-index: 2;
}

#nav-max-width {
    max-width: 1450px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 0 90px;
}

#nav-list h1 {
    color: var(--fontcolor);
    font-family: Archivo-Regular;
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: auto;
    text-align: start;
    letter-spacing: 1px;
    margin-left: 0;
    padding: 0;
}

#nav-list ul {
    display: flex;
    max-width: 1850px;
    justify-content: center;
    margin: 0;
}


#nav-list li,
#nav-list li a {
    font-family: Archivo-Regular;
    letter-spacing: 1px;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    display: inline-block;
    color: var(--headerfont);
    text-decoration: none;
    justify-content: flex-end;
    font-size: 1.1rem;
    transition: background .3s;
    max-width: 157px;
}

#nav-list li a {
    padding: 30px 10px;
    color: var(--fontcolor);
}

#nav-list li:hover {
    background-color: var(--nav-hover);

}

/* Acessibility */

#acessibility {
    opacity: 1;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 3;
    max-width: 300px;
}

#acessibility-btn {
    opacity: 0;
    border-radius: 100px;
    padding: 10px;
    border: 0;
    background-color: var(--acessibility-bg);
    animation: opacity .3s ease-in-out forwards .2s;
}

#acessibility-btn:hover {
    background-color: var(--acessibility-bg-hover);
    transition: .3s ease;
}

#acessibility-icon img {
    width: 30px;
    height: 27px;
}

#acessibility-options button {
    opacity: 0;
    padding: 20px;
    border: 0;
    color: var(--acessibility-btn-color);
    background-color: var(--acessibility-btn-bg);
    animation: btnreveal .2s ease-in-out forwards .2s;
}

#acessibility-options button:nth-child(2) {
    animation-delay: .3s;
}

#acessibility-options button:nth-child(3) {
    animation-delay: .4s;
}

#acessibility-options button:nth-child(4) {
    animation-delay: .5s;
}

#acessibility-options button:hover {
    transition: .3s ease;
    background-color: #8d8e8f;
}

.theme-btn {
    font-family: Archivo-Regular;
    font-size: 1.3rem;
    width: 100%;
    padding: 10px;
}

/* Presentation Section */


#presentation {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background);
}

.presentation-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 10%;
    justify-content: center;
}

.presentation-container figure,
article {
    display: block;
    margin: 0;
}

.presentation-container figure {
    width: 200px;
    height: 200px;

}


.presentation-container img {
    opacity: 0;
    width: 200px;
    border-radius: 180px;
    margin: 0;
    animation: presentationimg .4s ease-in-out forwards .2s;
}

.presentation-container h1 {
    color: var(--presentation-h);
    opacity: 0;
    display: flex;
    align-items: center;
    height: 70px;
    font-family: SairaExtraCondensedBold;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 5px 20px;
    margin-top: 20px;
    animation: presentationup .4s ease-in-out forwards .2s;
}

.presentation-container h2 {
    font-weight: var(--presentation-h2-height);
    opacity: 0;
    font-family: DroidSans;
    color: var(--presentation-h2);
    font-size: 1.3rem;
    padding: 5px 20px;
    margin-bottom: 10px;
    animation: presentationdown .4s ease-in-out forwards .2s;
    animation-delay: 600ms;
}


.presentation-container #social-icons {
    opacity: 0;
    margin: 0;
    display: flex;
    font-size: 1.5rem;
    width: 300px;
    padding-left: 15px;
    animation: presentationdown .5s ease-in-out forwards .2s;
    animation-delay: 1000ms;
}

.presentation-container .social-icon {
    display: flex;
    align-items: center;
    background-color: var(--social-icon-bg);
    color: var(--social-icon);
    height: 50px;
    width: 50px;
    border-radius: 40px;
    transition: background .5s;
    margin: 0 5px;
}

.presentation-container .social-icon:hover {
    background-color: var(--social-icon-hover);
}


/* About Section */

#about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background);
}

.about-container {
    display: flex;
    flex-direction: column;
    max-width: 1450px;
    padding: 100px 90px;
    color: var(--about-h);

}

.about-container article {
    margin: 40px 0;
}

.about-container a {
    color: var(--email-color);
}

.about-container h1 {
    font-family: RobotoSlabBold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-container p {
    text-align: justify;
    font-family: Archivo-Regular;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 30px;
}


/* Projects Section */

#projects {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--background);
    padding: 100px 0;
}

.max-width {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: center;
}

#projects-name {
    display: flex;
    width: 100%;
    font-family: RobotoSlabBold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--projects-h1);
}

.project-card {
    margin: 20px 10px;
    background-color: var(--card-bg);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease 0s;
    text-decoration: none;

}

.project-card:hover {
    box-shadow: 5px 5px 15px -4px #000000;
}

.project-card a {
    text-decoration: none;
}

.project-card img {
    padding: 10px;
    width: 300px;
    height: 157px;
    border-radius: 10px;
}

.project-card h1 {
    color: var(--card-h1);
    font-family: RobotoSlabBold;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.project-card p {
    font-family: Archivo-Regular;
    color: var(--card-p);
    font-size: 1.1rem;
    padding: 0 10px;
    line-height: 25px;
}


/* Skills Section */

#skills {
    min-height: 80vh;
    color: var(--skills-font-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    margin: 0;
}

#skill-container {
    margin: 0;
    max-width: 1450px;
    padding: 0 90px;
    width: 100%;
}


#skills h1 {
    font-family: RobotoSlabBold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#skills ul li {
    font-family: Archivo-Regular;
    list-style: none;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Certificates Section */

#certificates {
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

#certificates-container {
    margin: 0;
    width: 100%;
    max-width: 1450px;
    padding: 0 90px;
}

#certificates h1 {
    color: var(--certificates-h1);
    font-family: RobotoSlabBold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#certificates ul li {
    font-family: Archivo-Regular;
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 25px;
}

#certificates ul li a {
    text-decoration: underline;
    color: var(--certificates-a);
}

.lbox {
    display: none;
    visibility: hidden;
    opacity: 0;
    align-items: center;
}

.lbox:target {
    display: flex;
    justify-content: center;
    z-index: 3;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .7);
    position: fixed;
}

.lbox:target .box_img img {
    animation: imgreveal .4s ease-in-out forwards .2s;
}

.box_img img {
    opacity: 0;
}

.lbox .box_img {
    max-width: 1000px;
    max-height: 590px;
}

.box_img img {
    display: flex;
    width: 100%;
    max-height: 590px;
    box-shadow: 30px 30px 15px -4px #000000;
}

.lbox .btn {
    color: #FFFFFF;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#prev {
    left: 5%;
    top: 45%;
}

#next {
    right: 5%;
    top: 45%;
}

#close {
    top: 5%;
    right: 2%;
}

/* Footer */

#footer {
    width: 100%;
    display: flex;
    background-color: var(--footer-bg);
    color: white;
    text-align: center;
    padding: 60px 0 120px;
}

#footer h1 {
    font-family: RobotoSlabBold;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

#footer p {
    font-family: DroidSans;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

#footer a {
    font-family: DroidSans;
    text-decoration: none;
    color: var(--footer-a);
    font-size: 1rem;
    padding: 10px;
    background-color: var(--footer-a-bg);
    margin: 0 10px;
    border-radius: 5px;
    transition: background .3s;
}

#footer a:hover {
    background-color: var(--footer-a-hover-bg);
    color: var(--footer-a-hover);
}


/*Animation */

[data-anime="bottom"] {
    opacity: 0;
}

[data-anime].animate {
    animation: reveal .4s ease-in-out forwards .2s;
}

[data-anime].animateoff {
    opacity: 0;
    animation: revealoff ease-in-out 1s;
}


/* Keyframes */

@keyframes colorblindanimation {
    0% {
        filter: hue-rotate(60deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(60deg);
    }
}

@keyframes opacity {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btnreveal {
    0% {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes presentationimg {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}

@keyframes presentationup {
    20% {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes presentationdown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes reveal {

    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes revealoff {

    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }
}

@keyframes imgreveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}